/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }
@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,600);
@import url(http://fonts.googleapis.com/css?family=Loved+by+the+King);

/* Global properties ======================================================== */
body { 
	background:#fff; 
	font-family: 'Dosis', sans-serif;
	font-size:100%; 
	line-height:1.125em;
	color:#242424;
}
html { min-width:1000px;}
html, body { height:100%;}



/* Global Structure ============================================================= */
.container {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	font-size:.8125em;
}

	/* Header */
	header{
		height:120px;
		overflow:hidden;
		background: #fff;
	}
	
	/*Gallery*/
	#gallery {
		height:496px;
		overflow:hidden;
		background: #eee;
	}
	
	/* Content */
	#content {
		float: left;
		width: 572px;
	}
	
	/* Sidebar */
	aside{
		float: left;
		width: 302px;
		margin-right:52px;
	}
			
	/* Footer */
	footer{
		padding:20px 0 22px 0;
		border-top:5px solid #eee;
	}




/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.col-1, .col-2, .col-3 { float:left;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { 
	width:100%;
	overflow:hidden;
}

/* The inside class provides consistent padding. To be used often! */
.inside{ padding: 32px 37px 50px 37px; }


/*----- form defaults -----*/
input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}

/*----- other -----*/
figure { margin-bottom:18px;}

.img-indent { 
	margin:0 20px 0 0; 
	float:left;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:15px;
}
	.img-box figure { 
		float:left; 
		margin:0 20px 0 0;
		padding:0;
	}

.extra-wrap { 
	overflow:hidden;
}

p {margin-bottom:18px;}
.p1 { margin-bottom:9px;}
.p2 { margin-bottom:18px;}
.p3 { margin-bottom:27px;
}


/*----- txt, links, lines, titles -----*/
a {
	color:#03BBF3; /*-- Color Turquesa de los enlaces --*/
	outline:none;
}
a:hover{
	text-decoration:none;
}

h1 {
	font-size:30px;
	line-height:1.2em;
	color:#fff;
	font-weight:normal;	
	padding:6px 0 8px 69px;
	position:absolute;
	left:39px;
	top:6px;
}
	h1 a {
		color:#C0C0C0;
		text-decoration:none;
	}
h2 {
	font-size:30px;
	line-height:1.2em;
	font-weight:normal;
	column-rule: ;#212222;
	margin-bottom:22px;
}
	h2 span {
		color:#8a8a8a;
	}
h3 {
	font-size:1em;
	margin-bottom:6px;
}
	h3 a { color:#242424; } /* Color de Subtitulos */
	h3 a:hover {
		text-shadow: 1px 1px 1px #888;
	}




/*==================boxes====================*/
.main-box {
	/* border-top:5px solid #eee;  Borde encima del Content */
	background:#eee;
	width:100%;
	min-height: 520px;
}


.contacts {
	padding-bottom:20px;
}
	.contacts li {
		width:100%;
		overflow:hidden;
	}
		.contacts li strong {
			float:left;
			width:95px;
		}


.list1 {
	text-align: center;
	text-transform:uppercase;
	font-weight:bold;	
}

.centrarlista {
	margin: 10px auto 15px auto;
}


/*===== header =====*/

header nav {
	float:right;
}
		header nav ul li {
			float:left;
			-webkit-transition: all .5s lineal;
			-moz-transition: all .5s lineal;
			-ms-transition: all .5s lineal;
			-o-transition: all .5s lineal;
			transition: all .5s lineal;
		}
			header nav ul li a {
				font-size:20px;
				color:#fff;
				height:67px;
				line-height:67px;
				font-weight: 300;
				text-decoration:none;
				width:105px;
				margin:0 .1em;
				border-radius:0 0 .5em .5em;
				text-align:center;
				float:left;
				background:#00529E;
				background-image: gradient(top, #00529E, #00529E); /* FF3.6 */
				background-image: -moz-linear-gradient(top, #00529E, #00529E); /* FF3.6 */
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #00529E),color-stop(1, #00529E)); /* Saf4+, Chrome */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00529E', EndColorStr='#00529E'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00529E', EndColorStr='#00529E')"; /* IE8 */
			position: relative;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			-ms-transition: all .5s;
			-o-transition: all .5s;
			transition: all .5s;
			
		}
		header nav ul li a.current, header nav ul li:hover a{
			border-radius:.5em .5em 0 0;
			padding-bottom:20px;
			line-height: 40px;
			margin-top: 40px;

		}
		
		header nav ul li:nth-of-type(2) a {
			background:#0184cd;
			background-image: -moz-linear-gradient(top, #017bc8, #018ed3); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #017bc8),color-stop(1, #018ed3)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
		}
		header nav ul li:nth-of-type(3) a {
			background:#27A223;
			background-image: -moz-linear-gradient(top, #27A223, #27A223); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #27A223),color-stop(1, #27A223)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#27A223', EndColorStr='#27A223'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#27A223', EndColorStr='#27A223')"; /* IE8 */
		}
		header nav ul li:nth-of-type(4) a {
			background:#FFED00;
			background-image: -moz-linear-gradient(top, #FFED00, #FFED00); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFED00),color-stop(1, #FFED00)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFED00', EndColorStr='#FFED00'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFED00', EndColorStr='#FFED00')"; /* IE8 */
		}
		header nav ul li:nth-of-type(5) a {
			background:#f07502;
			background-image: -moz-linear-gradient(top, #ee6c01, #f27f02); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ee6c01),color-stop(1, #f27f02)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ee6c01', EndColorStr='#f27f02'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ee6c01', EndColorStr='#f27f02')"; /* IE8 */
		}
		header nav ul li:nth-of-type(6) a {
			background:#E3001B;
			background-image: -moz-linear-gradient(top, #E3001B, #E3001B); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E3001B),color-stop(1, #E3001B)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#E3001B', EndColorStr='#E3001B'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E3001B', EndColorStr='#E3001B')"; /* IE8 */
		}
		header h1{
			margin: 10px 0;
			width: 400px;
			font-size:28px;


		}
		header h1 a{
			width: 300px;
			color: #444;
			font-weight: 600;
			font-family: 'Dosis', sans-serif;

		}
		header h1 span{
			display: block;
		}
		header figure{
			position: absolute;
			width: 340px;
		}
		header figure img{
			width: 100%;
		}

/*===== gallery =====*/
.roundabout-holder  { 
	width:850px;
	height:496px;
	margin:0 auto;
}
.roundabout-moveable-item {
   width: 646px;
   height: 416px;
   cursor: pointer;
	 border:3px solid #ccc;
	 border:3px solid rgba(0, 0, 0, 0.08);
	 overflow: hidden;
	 border-radius: 2.5em;
	}
.roundabout-moveable-item:nth-child(1){
	border: red solid 6px; 
}
.roundabout-moveable-item:nth-child(2){
	border: green solid 6px; 
}
.roundabout-moveable-item:nth-child(3){
	border: blue solid 6px; 
}
.roundabout-moveable-item:nth-child(4){
	border: purple solid 6px; 
}
.roundabout-moveable-item:nth-child(5){
	border: yellow solid 6px; 
}

	.roundabout-moveable-item img{
		width:100%;
	}
.roundabout-in-focus {
	/*border:3px solid rgba(0, 0, 0, 0.2);*/
}


/*===== content =====*/
#content {
	
}
	#content img, aside img {
		border:3px solid #ebebeb;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	}
	#content img:hover {
		border-color:#bbb;
	}
	

/*--- news list styles ---*/
	.news li {
		
		position:relative;
		padding:0 0 26px 84px;
	}
	.news li:last-child {
		padding-bottom:0;
	}
	
		.news li figure {
			width:59px;
			height:59px;
			background:url(../images/date-bg1.gif) no-repeat 0 0;
			position:absolute;
			left:0;
			top:0;
			text-align:center;
			border:3px solid #ebebeb;
			border-radius:4px;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			font-size:10px;
			color:#fff;
			text-transform:uppercase;
		}
			.news li figure strong {
				display:block;
				font-size:30px;
				line-height:1.2em;
				margin-bottom:-7px;
				padding-top:4px;
			}
		
		.news li:nth-of-type(4n+2) figure {
			background:url(../images/date-bg2.gif) no-repeat 0 0;
		}
		.news li:nth-of-type(4n+3) figure {
			background:url(../images/date-bg3.gif) no-repeat 0 0;
		}
		.news li:nth-of-type(4n+4) figure {
			background:url(../images/date-bg4.gif) no-repeat 0 0;
		}



.team-lista{
	overflow-y:scroll; 
	height: 430px;
}
.team-list li {
	width:100%;
	overflow:hidden;
	padding-bottom:43px;
}
.team-list li:last-child {
	padding-bottom:0;
}
	.team-list li figure {
		float:left;
		margin:0 20px 0 0;
		padding:0;
	}


/*--- loopedSlider styles ---*/
/*
 * Required 
*/
 .wrapper .event{
 	width: 100%;
	margin: auto;
}
#loopedSlider{
	width:900px!important;
	margin: auto;

}
#loopedSlider .wrap { widows: 900px; height:337px; overflow:hidden; position:center; margin: auto;}
#loopedSlider .slides { position:relative; top:0; left:0; }
#loopedSlider .slides div { position:absolute; top:0; width:450px; display:none; }
/*
 * Optional
*/
#loopedSlider { width:450px; position:relative; clear:both; }
#loopedSlider .nav-controls {
	width:100%;
	overflow:hidden;
	padding-top:10px;
}
#loopedSlider li {
	display:inline;
}
#loopedSlider li a.previous {
	float:left;
}
#loopedSlider li a.next {
	float:right;
}

/*===== footer =====*/
footer {
	background:#6e6e6e; 
	color:#fff;
	height: 60px;
}
	footer .fleft {
		padding-left:40px;
	}
	footer .fright {
		padding-right:40px;
	}


/*----- forms -----*/
#contacts-form { 
	clear:right;
	width:100%;
	overflow:hidden;
}
	#contacts-form fieldset { 
		border:none;
		float:left;
	}
		#contacts-form .field { 
			clear:both;
		}
			#contacts-form label { 
				float:left;
				width:110px;
				line-height:18px;
				padding-bottom:6px;
				font-weight:bold;
			}
			#contacts-form input {
				width:205px;
				padding:1px 0 1px 3px;
				background:none;
				border:1px solid #e5e5e5;
				color:#616161;
				float:left
			}
			#contacts-form input:invalid {
				border-color:red;
			}
			#contacts-form textarea { 
				width:450px;
				height:215px;
				padding:1px 0 1px 3px;
				background:none;
				border:1px solid #e5e5e5;
				color:#616161;
				margin-bottom:12px;
				overflow:auto;
				float:left;
			}
			#contacts-form div:last-child {
				padding-left:110px;
			}

/*==========================================*/

video{
	width: 100%;
	border-radius: 15px;
	display: block;
}
/*================= MAPA ===================*/
#map{
	width: 100%;
	height: 250px;
	background: white;
}

/*==========================================*/
.dona{
	background: orange;
	display: inline-block;
	vertical-align: top;
	width: 48%;
	line-height: 80px;
	margin: 15px 0;
	float: left;
	text-align: center;
}
.dona:nth-child(2n+1){
	float: right;
	background: red;
}
.dona a{
	color:#fff;
	text-decoration: none;
	font-size: 20px;
}

.boton{
	display: block;
	width: 120px;
	margin: 15px auto;
	background: #cde;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	border-radius: 5px;
}
.boton:hover{
	background: #edc;
}
.objetivos{
	list-style: decimal;
	text-align: center;
	height: 340px;
	overflow-y: scroll; 
}